<div class="container">
    <form action="" [formGroup]="formNewUser" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="number" id="id" name="id" formControlName="id" class="form-control" [disabled]="true">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="active">Active:</label>
            <input type="checkbox" id="active" name="active" formControlName="active" class="form-check-input">
        </div>
        <div class="form-group">
            <label for="active">datecreated:</label>
            <input type="text" id="datecreated" name="datecreated" formControlName="datecreated"  [disabled]="true" class="form-control">
        </div>
        <div class="form-group">
            <label for="roleId">Role Id:</label>
            <select formControlName="roleId" id="roleId" class="form-control">
                <option *ngFor="let tipoRole of arrRoleUsers; let i = index" [value]="tipoRole.id">
                  {{tipoRole.roleName}}
                </option>
              </select>
    
        </div>
        <button type="button" class="btn btn-default" (click)="onClickBack()">Back</button>
        <input type="submit" value="{{ action }}" class="btn btn-success" />
    </form>
    
</div>
