<h1 *ngIf="flag">Users Forms</h1>
<form action="" [formGroup]="formNewUser" (ngSubmit)="onSubmit()">
    <input type="hidden" class="form-control" formControlName="Id">
    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" formControlName="Name">
        <div class="error" *ngIf="formNewUser.controls.Name.errors && formNewUser.controls.Name.touched">
           Field required
        </div>
    </div>
   
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <div class="error" *ngIf="formNewUser.controls.Password.errors && formNewUser.controls.Password.touched">
            El campo password es requerido
        </div>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" formControlName="Email">
        <div class="error" *ngIf="formNewUser.controls.Email.errors && formNewUser.controls.Email.touched">
            El campo email es requerido
        </div>
    </div>
    <div class="form-group" >
        <label for="">Tipo Cliente</label>

        <select formControlName="UserRoleId" id="UserRoleId" class="form-control">
            <option *ngFor="let tipoRole of arrRoleUsers; let i = index" [value]="tipoRole.id">
              {{tipoRole.name}}
            </option>
          </select>

        <div class="error" *ngIf="formNewUser.controls.UserRoleId.errors && formNewUser.controls.UserRoleId.touched">
            El campo tipo cliente es requerido
        </div>
    </div>
   <input type="submit" value="Enviar"  class="btn btn-success" [disabled]="!formNewUser.valid" *ngIf="isShowCreate"/>
   <button type="button" class="btn btn-warning"  (click)="onClickModificar()" *ngIf="isShowEdit" >Modificar</button>


</form>