<div class="container">
  <form [formGroup]="formSearch"  class="login-form">
    <label for="">Search</label>
    <input type="text" class="form-control" formControlName="search" (keypress)="searchData($event)" placeholder="Search...">
    <button (click)="generatePdf()">Download PDF</button>
  </form>
  <table *ngIf="data.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let key of keys">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let key of keys">{{ item[key] }}</td>
        <td>
          <a class="btn btn-warning" (click)="onClickUpdate(item)"><span class="fa fa-edit"></span>Edit</a>
          <a class="btn btn-danger" (click)="onClickDelete(item)"><span class="fa fa-close"></span>Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
