<div class="container">
  <table *ngIf="data.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let key of keys">{{ key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let key of keys">{{ item[key] }}</td>
        <td>
          <a class="btn btn-warning" (click)="onClickUpdate(item)">Edit</a>
          <a class="btn btn-danger" (click)="onClickUpdate(item)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
