<h1>Login</h1>
<form [formGroup]="formNewLogin" (ngSubmit)="onClickLogin()" class="login-form">
    <input type="hidden" class="form-control" formControlName="iduser_val"> 
    <div class="form-group">
        <label for="">UserName</label>
        <input type="text" class="form-control" formControlName="name_val">
        <div class="error" *ngIf="formNewLogin.controls['name_val'].errors && formNewLogin.controls['name_val'].touched">
            El usuario es requerido
        </div>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="password_val">
        <div class="error" *ngIf="formNewLogin.controls['password_val'].errors && formNewLogin.controls['password_val'].touched">
            La contraseña es requerida
        </div>
    </div>
   
   <button type="button" class="btn btn-warning" (click)="onClickLogin()">LOGIN</button>
</form>
